<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop = "http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <context:component-scan base-package="hf.common"/>

    <bean id="hooks" class="Hooks"></bean>

    <bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="classesToBeBound">
            <array>
                <value>hf.common.repository.WebPage</value>
                <value>hf.common.repository.PageElement</value>
                <value>hf.common.repository.WebRepository</value>
            </array>
        </property>
    </bean>

    <bean id="repositoryLoader" class="hf.common.repository.RepositoryContext" init-method="loadRepository">
        <property name="jax2Marshaller">
            <ref bean="jaxbMarshaller"></ref>
        </property>
        <property name="repoPath" value="classpath:repository.xml"></property>
    </bean>

    <bean id="navigationActionStep" class="NavigationActionStep"></bean>
    <bean id="verifyActionStep" class="VerifyActionSteps"></bean>
    <bean id="buttonActionStep" class="ButtonActionSteps"></bean>


</beans>